/* For all devices*/

html, body, canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

span, h4, h5, input, button,#copyright,#progress {
  font-family: monospace;    

  

}
#enable_high_res {
	width: 10ch;
}

h4, h5 {
  padding: 0px;
  margin: 5px;
  font-size: 100%;
}
h4:hover {
  cursor: pointer;
}
#copyright{
	   position: absolute;
	   width: 100%;
  text-align: center;
  bottom: 3px;
  color: lightgray;
  display: block;
  font-size: 0.8em;
}

/*Mobile*/

@media only screen and (orientation: portrait) {
  #menu {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: white;

    transition: .4s;
    margin: 0 auto;
    font-size: 1.4em;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  #imag_input, #real_input, #its_input {
    width: 40%;
    height: 30px;
    font-size: 1em;
    text-align: center;
    margin: 0 1%;
  }
  #imag_input_span, #imag_input {
    float: right;
  }
  button {
    width: 47.5%;
    margin: 1%;
    height: 40px;
  }
  #real_input, #imag_input {
    display: inline;
  }
  #progress {
    display: inline;
    float: right;
    width: 20ch;
  }
}

@media only screen and (orientation: landscape) {
  /* For desktop: */
  #render_button, #download_button, #btn-download {
    width: 45%;
    margin: 0px;
    display: inline;
  }
  #render_button, #enable_high_res {
    margin-left: 5px;
    float: left;
  }
  #download_button {
    margin-right: 5px;
    float: right;
  }
  #zoom_factor {
    width: 50%;
    float: right;
    margin-right: 5px;
  }
  input[type="checkbox"] {
    height 22px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
  }
  #real_input, #imag_input, #its_input, #formula_input {
    font-family: monospace;
    margin: 0 5px;
    left: 20px;
    width: 7ch;
    max-width: 160px;
  }
  #enable_high_res {
    width: 10ch;
  }
  #formula_input {
    width: 100%;
  }
  #menu {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 300px;
    width: 22ch;
    background-color: white;

    border: 1px solid gray;
    transition: .4s;
    font-size: 1.4em;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #progress {
    display: inline;
	margin: 5px;
    float: left;
    width: 100%;
  }
}

button {
	height: 30px;
	
	
	  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}